# Environment variables
.env
__pycache__
.pytest_cache
etc/secrets/
app/__pycache__
app/session/__pycache__
app/utils/__pycache__
celery_writer.ipynb

# Exclude heavy directories
.git
wspenv
venv
env
*.pyc